In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [2]:
cleaned_df = pd.read_csv("cleaned_data/titanic.csv")
cleaned_df.head()

,HomePlanet,CryoSleep,Deck,RoomNum,Side,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,0,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,0,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,0,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,0,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,1,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [3]:
#use getdummies() to convert categorical data to numerical data
cleaned_df_prep = pd.get_dummies(cleaned_df)
cleaned_df_prep.head()

,CryoSleep,RoomNum,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,...,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_P,Side_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,0,39.0,False,0.0,0.0,0.0,0.0,0.0,False,...,0,0,0,0,0,1,0,0,0,1
1,False,0,24.0,False,109.0,9.0,25.0,549.0,44.0,True,...,0,0,1,0,0,0,1,0,0,1
2,False,0,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,...,0,0,0,0,0,0,1,0,0,1
3,False,0,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,...,0,0,0,0,0,0,1,0,0,1
4,False,1,16.0,False,303.0,70.0,151.0,565.0,2.0,True,...,0,0,1,0,0,0,1,0,0,1

In [4]:
# removing the target column Transported from X
y = cleaned_df_prep["Transported"].values
X = cleaned_df_prep.drop(["Transported"],axis=1).values

# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [5]:
 # Preprocess numerical data for neural network

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
 # Define the deep learning model Accuracy: 0.8219988346099854, Loss: 0.3860379457473755,
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=100, activation="sigmoid", input_dim=25))
nn_model.add(tf.keras.layers.Dense(units=100, activation="softmax"))
nn_model.add(tf.keras.layers.Dense(units=200, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")